<?xml version="1.0" encoding="utf-8"?>
<!--
  Diese web.config leitet alle eingehenden Anfragen für portal.febesol.com
  an den lokal laufenden Node.js-Dienst weiter. Sie geht davon aus, dass der
  Dienst über NSSM unter http://127.0.0.1:3004 erreichbar ist.
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="PortalReverseProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3004/{R:1}" logRewrittenUrl="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
        </rule>
        <rule name="PortalStaticPassthrough" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />
  </system.webServer>
</configuration>
